/* CSS Normalize and reset */

:root {
   line-height: 1.5;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

ol[role="list"],
ul[role="list"] {
   list-style: none;
   padding-inline: 0;
}

ul {
   list-style-type: none;
}

input,
button,
textarea,
select {
   font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

p {
   text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/*********************************/
/*********************************/
/**** CSS Normalize and reset ****/
/*********************************/
/*********************************/

:root {
   --header-bgc: #ffffff;
   --sidebar-bgc: #334155;
   --article-bgc: #e2e8f0;
   --card-box-shadow: 1px 1px 8px #00000033;
   --main-text-color: #000000;
   --sub-text-color: #888888;
}

body {
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 1fr 5fr;
   min-height: 100vh;
}

header {
   box-shadow: var(--card-box-shadow);
   background-color: var(--header-bgc);
   position: relative;
}

.sidebar {
   background-color: var(--sidebar-bgc);
   padding: 1em 1em;
   grid-row: 1 / 3;
   color: var(--header-bgc);
   display: grid;
   grid-template-rows: min-content;
   gap: 1rem;
}

.article {
   background-color: var(--article-bgc);
}