/* CSS Normalize and reset */

:root {
   line-height: 1.5;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

ol[role="list"],
ul[role="list"] {
   list-style: none;
   padding-inline: 0;
}

ul {
   list-style-type: none;
}

input,
button,
textarea,
select {
   font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

p {
   text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-wrap: balance;
}

/*********************************/
/*********************************/
/**** CSS Normalize and reset ****/
/*********************************/
/*********************************/

:root {
   --header-bgc: #ffffff;
   --sidebar-bgc: #334155;
   --article-bgc: #e2e8f0;
   --card-box-shadow: 1px 1px 8px #00000033;
   --main-text-color: #000000;
   --sub-text-color: #888888;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 150px 1fr;
   min-height: 100vh;
   font-family: sans-serif;
}

header {
   box-shadow: var(--card-box-shadow);
   background-color: var(--header-bgc);
   position: relative;
   display: grid;
   grid-template-columns: 2fr 1fr;
   align-items: center;
   padding: 1em;
   row-gap: 1.5em;

   .search {
      input {
         background-color: var(--article-bgc);
         border: none;
         border-radius: 12px;
         width: calc(100% - 100px);
         padding: 2px 12px;
      }

      label {
         margin-right: 1em;
      }
   }

   &>.user-info {
      display: flex;
      gap: 1rem;

      i.notification {
         background-color: var(--sidebar-bgc);
         border-radius: 50%;
      }

      img.profile-pic {
         border-radius: 50%;
      }

      .full-name {
         font-weight: bold;
      }

   }

   .greeting {
      display: flex;
      gap: 1rem;

      img.profile-pic {
         border-radius: 50%;
      }

      .container {
         font-weight: bold;

         .greeting-msg {
            font-size: .8rem
         }

         .user-info {
            font-size: 1.3rem;
         }
      }
   }

   .buttons {
      display: flex;
      gap: 1rem;

      button {
         border: none;
         border-radius: 24px;
         background-color: var(--sidebar-bgc);
         color: var(--header-bgc);
         padding: 5px 24px;
         cursor: pointer;
      }
   }

}

.sidebar {
   background-color: var(--sidebar-bgc);
   padding: 1em 1em;
   grid-row: 1 / 3;
   color: var(--header-bgc);
   display: grid;
   grid-template-rows: min-content;
   gap: 1rem;

   .brand {
      font-weight: bold;
      font-size: 1.8rem;

      .logo {
         margin-right: 8px;
      }
   }

   nav ul {
      margin-bottom: 2rem;

      li {
         margin: .7em 0;

         font-weight: bold;

         i {
            background: var(--header-bgc);
            padding: 1px 10px;
            margin-right: 8px;
            border: 1px solid;
         }
      }
   }
}

.article {
   background-color: var(--article-bgc);
   padding: 2em;
   padding-left: 1em;
   display: grid;
   grid-template-columns: 3fr 1fr;
   gap: 1rem;

   .projects-section {
      .projects {
         display: grid;
         grid-template-columns:
            repeat(auto-fit, minmax(250px, 1fr));
         gap: 1rem;

         .project {
            background-color: var(--header-bgc);
            box-shadow: var(--card-box-shadow);
         }
      }
   }

   .announcements-section {
      .announcements {
         background-color: var(--header-bgc);
         box-shadow: var(--card-box-shadow);
      }
   }

   .trends-section {
      grid-column: 2/3;

      .trends {
         background-color: var(--header-bgc);
         box-shadow: var(--card-box-shadow);
      }
   }
}